
/* Apply the universal styles to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles for the body element */
  body {
    background: url(annie-spratt-VdzkmvqynT0-unsplash.jpg) no-repeat center/cover;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
  }
  
  /* Styles for the container element */
  .container {
    background: rgba(10, 10, 10, 0.7);
    border-radius: 0.3rem;
    max-width: 600px;
    margin: 5rem auto;
    text-align: center;
    padding: 2rem;
  }
  
  /* Styles for headings */
  h1 {
    margin-bottom: 1rem;
  }
  
  h2 {
    margin-top: 1rem;
  }
  
  /* Styles for buttons */
  button {
    border: 2px solid white;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    color: white;
    margin: 1rem;
    transition: all 0.25s;
  }
  
  button:hover {
    color: black;
    background: white;
  }
  
  /* Styles for form elements */
  .form p {
    color: rgb(173, 163, 163);
  }
  
  .container input {
    width: 30%;
    padding: 0.7rem;
    border: 1px solid white;
    color: white;
    background: transparent;
    font-size: 20px;
    margin-bottom: 1rem;
  }
  
  .container label {
    font-weight: bold;
    font-size: large;
  }
  
  .container input[type=checkbox] {
    width: 100%;
  }
  
  .container input::placeholder {
    color: white; /* Apply styling for input placeholders */
  }
  